@import "tailwindcss";

@theme {
    --color-dark-blue: #191f28;
    --color-medium-gray: #374151;
    --color-light-gray: #4b5563;
    --color-blue: #2563eb;
    --font-inter: "Inter", sans-serif;
}

body {
    background-color:  #191f28;
}

.border-1 {
    border: 1px solid  #374151;
}

.border-2 {
    border: 1px solid  #4b5563;
}


.center {
    margin: 1em auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: 1.4em;
    font-weight: 700;
}

.py{
    padding: .1em 0;
}

label:has( input[type="radio"]:checked ){
     background-color: #2563eb;
         border: none;
    font-weight: 500;
  }

  label:hover:has( input[type="radio"]){
     background-color: #376ad6;
  }



@media (min-width:1336px) {
    form {
        transform: scale(0.9)
    }
}

@media (min-width:1440px) {
    form {
        margin-top: 4em;
        transform: scale(1)
    }
}