@import "tailwindcss";

@theme {
    --color-dark-blue: #191f28;
    --color-medium-gray: #374151;
    --color-light-gray: #4b5563;
    --color-blue: #2563eb;
    --font-inter: "Inter", sans-serif;
}

.border-1 {
    border: 1px solid #4b5563;
}

.center {
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

input[type='text'], input[type='email'], input[type='tel'] {
    padding: 0 .3em;
}

.py{
    padding: .1em 0;
}

label:has( input[type="radio"]:checked ){
    outline: 2px solid red;
  }

